<div class='control-group'>
  <%= f.label :score, :class => 'control-label' %>
  <%= f.text_field :score, :class => 'span1' %>
</div>
<div class='control-group'>
  <%= f.label :review, :class => 'control-label' %>
  <%= f.text_area :review, :rows => 5, :class => 'span6' %>
</div>
<div class='control-group'>
  <%= f.label :reviewer, :class => 'control-label' %>
  <%= f.text_field :reviewer, :class => 'span3' %>
</div>
